.google-font {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
  }

.background-gradient{
    background: linear-gradient(115deg, #000000, #444444);
}

.nav-color{
    color: white;
    padding: 8px;
    margin: 5px;
}

.size-font{
    font-weight: 400;
}

  

  
  .copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
  }

    
  .bottom-container {
    background-color: rgb(46, 46, 46);
    padding : 50px 0 20px;
  }

  div {
    display: block;
    unicode-bidi: isolate;
}

a {
  color: white  ;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}


p {
  line-height: 2;
}

footer{
  color: white;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr.new4 {
  border: 1px solid white;
}